/* adminstyles.css */

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    background-image: url('adminbg.jpg'); 
    background-size: cover;
    background-position: center;
}

header {
    background-color: #8e44ad;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.back-button {
    float: left;
    margin-left: 20px;
}

.logout-button {
    float: right;
    margin-right: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: larger;
}

section a{
    text-decoration: none;
}

section h2 {
    color: #8e44ad;
    margin-bottom: 10px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: #8e44ad;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6c3483;
}

section ul li button {
    display: block;
    width: 100%;
    text-align: left;
    margin: 5px 0;
    font-size: 20px;

}

.middle-sec ul li{
    background-color: #8e44ad;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="text"], input[type="password"], input[type="email"], input[type="radio"] {
    font-size: large;
    border-radius: 10px;
    padding: 5px 10px;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="radio"]:hover{
    transform: scaleX(1.02);
    transition: 1s;
}

.button-div{
    display: flex;
    justify-content: center;
    width: 100%;
}

.user-list-container{
    font-size: large;
}

#new_role{
    padding: 5px 10px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Add border to the table */
}

th, td {
    border: 1px solid #ddd; /* Add border to table cells */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tfoot td {
    text-align: right;
    background-color: #f2f2f2;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
