*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.About_us{
    color: #6a1191;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
}
.content{
    display: flex;
    justify-content: space-around;

}

.Who_are_we{
    background-color:rgba(142, 68, 173, 0.8);
    color:rgb(236, 232, 232) ;
    padding-top:20px;
    padding-bottom:20px;
    transition:1s;
    border: solid;
    border-color:#6a1191;
    width: 350px;
    height: 520px;`
    vertical-align: top;
    border-radius: 10px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    align-items: center;
    
}

.Who_are_we:hover{
    background-color:rgb(236, 232, 232);
    border-color: #6a1191;
    border-width: 0.1cm;
    color: #6a1191;
}

.Our_Mission{
    background-color:rgba(142, 68, 173, 0.8);
    color:rgb(236, 232, 232) ;
    padding-top:20px;
    padding-bottom:20px;
    transition:1s;
    border: solid;
    border-color:#6a1191;
    width: 350px;
    height: 520px;`
    vertical-align: top;
    border-radius: 10px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.img{
    margin-top: 10px ;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clip_art{
    width: 210px;
    height: 210px;
    border-radius: 45%;
    object-position:bottom;
    object-fit: contain;
}

.Our_Mission:hover{     
    background-color:rgb(236, 232, 232);
    border-color: #6a1191;
    border-width: 0.1cm;
    color: #6a1191;
}

.Get_in_Touch{
    background-color:rgba(142, 68, 173, 0.8);
    color:rgb(236, 232, 232) ;
    padding-top:20px;
    padding-bottom:20px;
    transition:1s;
    border: solid;
    border-color:#6a1191;
    width: 350px;
    height: 520px;
    vertical-align: top;
    border-radius: 10px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.Get_in_Touch:hover{
    background-color:rgb(236, 232, 232);
    border-color: #6a1191;
    border-width: 0.1cm;
    color: #6a1191;
}


.Our_Team{
    background-color:rgba(142, 68, 173, 0.8);
    color:rgb(236, 232, 232) ;
    padding-top:20px;
    padding-bottom:20px;
    transition:1s;
    border: solid;
    border-color:#6a1191;
    vertical-align: top;
    border-radius: 10px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 50px 63px 0 63px;
    
}

.Our_Team:hover{
    background-color:rgb(236, 232, 232);
    border-color: #6a1191;
    border-width: 0.1cm;
    color: #6a1191;
    
}

.Profiles{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 15px;
    margin-right: 18px;
}

.Members{
    width: 200px;
    text-align: center;
    vertical-align: top;
}

.DP{
    width: 200px;
    height:200px;
    display: flex;
}


.name{
    width: 200px;
    color: #8e44ad;
}



h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    text-align: center;
}

p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
}

.logo{
    width: 200px;
    display: inline-block;
}

.nav-outer{
    height: 70px;
    background-color: rgba(142, 68, 173, 0.8);
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    /* border: solid green; */
    width: 100vw;
}

.logo-outer{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-outer>a>img{
    height: 65px;
}

.nav-bar-context{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav{
    list-style: none;
    display: flex;
}

.nav>li>span>a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

.nav>li{
    border-right: 1px solid white;
    padding: 0 25px;
    border-bottom: 2px solid transparent;
    transition: 0.65s ease-in-out;

}

.nav>li:last-child{        /* >li: nth-child(3) */
    border-right: none;
    padding-right: 0;
}

.nav>li:hover{
    border-color: white;
}

.nav>li>span>a:hover{
    color: #f5cd79;
}

.user-dropdown {
    position: relative;
}

.user-button {
    padding: 6px 12px;
    margin: 0 25px;
    background: none;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.user-button:hover {
    background-color: #f39c12;
    color: white;
    transform: scale(1.1);
}

.user-button > p{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Segoe UI', 'cursive';
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(142, 68, 173, 0.8);
    border-radius: 10px;
    min-width: 120px;
    z-index: 1;
    top: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f39c12;
    border-radius: 10px;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: #d3d3d3;
    color: #576574;
    padding: 20px 0;
    /* border: solid yello */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    padding: 10px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}

ul li a {
    color: #576574;
    text-decoration: none;
}

ul li a:hover {
    color: #0a3d62;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #8e44ad;
}