@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oleo+Script&family=Roboto&family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.social-outer{
    width: 50px;
    height: 200px;
    background-color: red;
    position: fixed;
    right: 0;
    bottom: 175px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.social-inner-wrap{
    flex: 1;
    /*border: 1px solid black;*/
    position: relative;
}

.slide-context{
    background-color: white;
    opacity: 75%;
    width: 130px;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    color: #8e44ad;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.social-inner-wrap:hover> .slide-context{
    right: 49px;
}

.social-logo{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-logo:hover{
    background-color: #8e44ad;
    color: white;
}

.main-slider-outer{
    width: 100%;
    height: 100vh;
    background-image: url('https://images.wallpaperscraft.com/image/single/macbook_apple_keys_161213_2560x1024.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid blue; */
}

.nav-outer{
    height: 70px;
    background-color: rgba(142, 68, 173, 0.8);
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    /* border: solid green; */
    width: 100vw;
}

.logo-outer{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-outer>a>img{
    height: 65px;
}

.nav-bar-context{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav{
    list-style: none;
    display: flex;
}

.nav>li>span>a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

.nav>li{
    border-right: 1px solid white;
    padding: 0 25px;
    border-bottom: 2px solid transparent;
    transition: 0.65s ease-in-out;

}

.nav>li:last-child{        /* >li: nth-child(3) */
    border-right: none;
    padding-right: 0;
}

.nav>li:hover{
    border-color: white;
}

.nav>li>span>a:hover{
    color: #f5cd79;
}

.user-dropdown {
    position: relative;
}

.user-button {
    padding: 6px 12px;
    margin: 0 25px;
    background: none;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.user-button:hover {
    background-color: #f39c12;
    color: white;
    transform: scale(1.1);
}

.user-button > p{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Segoe UI', 'cursive';
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(142, 68, 173, 0.8);
    border-radius: 10px;
    min-width: 120px;
    z-index: 1;
    top: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f39c12;
    border-radius: 10px;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.middle-text-outer{
    width: 100%;
    height: 150px;
    position: relative;
    margin-left: 10%;
    margin-top: 8%;
    margin-bottom: 3%;
}

.middle-anime{
    height: 250px;
    width: 250px;
    position: relative;
    margin-left: 130px;
}

.troubles-text{
    font-family: 'Segoe UI', 'cursive';
    color: #8e44ad;
    font-size: 50px;
    
}

.solutions-text{
    font-family: 'Segoe UI', 'cursive';
    color: #8e44ad;
    font-size: 55px;
    
}

.about-wrapper{
    width: 100%;
    height: 350px;
    display: flex;
    /* border: solid brown; */
}

.about-inner{
    /*border: 1px solid rebeccapurple;*/
    flex: 1;
    display: flex;
    align-items: center;
    color: #8e44ad;
}

.about-inner>p{
    font-size: 16px;
    font-weight: 700;
    color: darkgray;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
    line-height: 30px;
    text-align: justify;
}

.about-inner:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-main-outer{
    width: 100%;
    height: 550px;
    display: flex;
    margin-top: 50px;
    /* border: solid blue; */
}

.service-inner {
    flex: 1;
    background-size: cover;
    background-position: center;
}

.service-inner:hover{
    cursor: pointer;
    margin-top: -50px;
    transition: 0.7s ease-in-out;
}

.service-inner:first-child{
    background-image: url("https://img.freepik.com/free-vector/customer-support-flat-design-illustration_23-2148889374.jpg?w=740&t=st=1706804439~exp=1706805039~hmac=a286b07f0b86ac29b6b4f2073a429c420780a3ce20a69fb651d31d10e73069f0");
}

.service-inner:nth-child(2){
    background-image: url("https://img.freepik.com/free-psd/premium-mobile-phone-screen-mockup-template_53876-65705.jpg?w=740&t=st=1706804731~exp=1706805331~hmac=aef642d3da5a37eecc47de17f4c49c862f01324120a93c82c70e7e6c813ce06a");
}
.service-inner:nth-child(3){
    background-image: url("https://img.freepik.com/free-photo/electronic-device-balancing-concept_23-2150422302.jpg?w=360&t=st=1706804832~exp=1706805432~hmac=0fe6135a69f4b1b856e8c79af1d3dec37c36be04b5ac995defac4be4380c4863");
}

.service-inner:nth-child(4){
    background-image: url("https://img.freepik.com/free-photo/knowledgeable-admin-data-center-uses-laptop-prevent-system-overload-during-peak-traffic-periods-adept-expert-server-hub-ensuring-enough-network-bandwidth-smooth-operations-close-up_482257-72825.jpg?w=360&t=st=1706805080~exp=1706805680~hmac=4b5b5bd4bbe97c8d93ebea1e7b32443b0811b7e2c9b990afb2766651a5a7bc1a");
}              

.shadow-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(15,23,43,0.5);
    display: flex;
    align-items: center;
}

.show-wrapper{
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden-wrapper{
    width: 100%;
    min-height: 200px;
    height: auto;
    display: none;
}

.service-inner:hover> .shadow-wrapper> .show-wrapper{
    display: none;
}

.service-inner:hover> .shadow-wrapper> .hidden-wrapper{
    display: flex;
    align-items: center;
}

.show-wrapper>p>i{
    font-size: 55px;
}

.show-wrapper>p{
    text-align: center;
    color: #00d2d3;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.show-wrapper>h2{
    text-align: center;
    color: #00d2d3;
}

.hidden-wrapper>p{
    text-align: justify;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
}

.whyUs-wrapper {
    padding-top: 100px;
    width: 100%;
    height: 300px;
    color: #8e44ad;
    /* display: flex; */
    /* border: solid pink; */
}

.whyUs-inner,
.whyUs-inner-2,
.whyUs-inner-3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.whyUs-inner > p,
.whyUs-inner-2 > p,
.whyUs-inner-3 > p {
    font-size: 18px;
    font-weight: 1000;
    color: black;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    text-align: justify;
    padding: 0 20px;
}

.whyUs-inner {
    order: 1;
}

.whyUs-inner-2 {
    order: 2;
}

.whyUs-inner-3 {
    order: 3;
}

.support-outer{
    margin: 0 0 100 50;
    width: 80vw;
    padding: 0 100px 0 100px;
    font-family: sans-serif;
    /* border: solid red; */
}

.support-circles{
    display: flex;
    justify-content: space-between;
}

.support-circles-image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(183, 183, 183);
}

.support-circles-single:hover{
    transform: scale(1.15);
    transition: 1s;
}

.support-circles-name{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


footer {
    background-color: #d3d3d3;
    color: #576574;
    padding: 20px 0;
    /* border: solid yello */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    padding: 10px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}

ul li a {
    color: #576574;
    text-decoration: none;
}

ul li a:hover {
    color: #0a3d62;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #8e44ad;
}
