body{
    font-family: 'Segoe UI';
    background-size: cover;
    font-size:20px;
  }

button{
    background-color:rgb(178, 229, 162);
    height: 45px;
    width: 100px;
    border: none;
    margin-right: 1%;
    border-radius: 5px;
    color: rgb(11, 78, 5);
    font-weight: 900;
}

button:hover{
    background-color:rgb(136, 211, 113);
    cursor: pointer;
}
